alembic==1.13.1
annotated-types==0.6.0
anyio==4.2.0
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
bcrypt==3.2.0
bleach==6.1.0
blinker==1.8.2
blis==0.7.11
cachelib==0.13.0
comm==0.2.1
confection==0.1.4
contourpy==1.2.1
cryptography==42.0.7
cymem==2.0.8
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dominate==2.9.1
executing==2.0.1
exposure==0.1.1
fastjsonschema==2.19.1
Flask==2.2.5
Flask-Bootstrap==3.3.7.1
Flask-Cors==4.0.1
Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-MySQL==1.5.2
Flask-MySQLdb==2.0.0
Flask-QRcode==3.1.0
Flask-Script==2.0.6
Flask-Session==0.8.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
fonttools==4.52.4
fpdf==1.7.2
fqdn==1.5.1
gensim==3.6.0
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.3
gunicorn==22.0.0
idna==3.7
iniconfig==2.0.0
isoduration==20.11.0
itsdangerous==2.2.0
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.0.12
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jwt==1.3.1
kiwisolver==1.4.5
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.3
Mako==1.3.5
marisa-trie==1.1.1
marshmallow==3.21.2
marshmallow-sqlalchemy==1.0.0
mdurl==0.1.2
mistune==3.0.2
msgspec==0.18.6
murmurhash==1.0.10
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.31
mysqlclient==2.2.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
nodejs==0.1.1
optional-django==0.1.0
overrides==7.7.0
pandocfilters==1.5.1
parso==0.8.3
passlib==1.7.4
pyparsing==3.1.2
pypng==0.20220715.0
pypyodbc==1.3.6
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.1
pymssql==2.3.0
PyMuPDF==1.24.5
PyMuPDFb==1.24.3
pyodbc==5.1.0
pytest==8.2.0
PyMySQL==1.1.0
